.outerStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    height: 100%;
    z-index: 1;
}

.modal {
    position: relative;
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 150px auto;
    border-radius: 3px;
    z-index: 2;
    text-align: left;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); // ...this.props.style.modal,
}



.modalActions {
    // display: flex;
    // justify-content: space-between;
    margin-top: 30px;
    .starRating {
        display: flex;
        align-items:center;
        justify-content: space-between;
        font-size: 40px;
    }
    .likeBtn {
        display: flex;
        img {
            cursor: pointer;
            width: 50px;
            height: 50px;
        }
    }
}

.pulse {
    :hover {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        transform: translateZ(0);
    }
}

@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.modalAppStyle {
    margin: 120px 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; // ...this.props.style.overlay
}

// ***** Styles for Modal Rating Starts *****
